<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExampleTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ExampleWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ExampleWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Prefectures-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Prefectures-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Prefectures-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Prefectures-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB1133102088495A00B0C9C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF8616F208B33E0006425A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFB975C208C4AEC0084315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFB9772208C4E590084315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFB9783208C50FA0084315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFB9794208C529A0084315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFB97B2208C5CE00084315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFB97FC208C89BF0084315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
